<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kursach_Uchet_Internet_Uslug.Properties.Settings.Kursach_Uchet_Internet_UslugConnectionString"
            connectionString="Data Source=DESKTOP-G2H5LGR;Initial Catalog=Kursach_Uchet_Internet_Uslug;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <services>
            <service name="Kursach_Uchet_Internet_Uslug.TestService" behaviorConfiguration="mexBehavior">
                <endpoint address="Kursach_Uchet_Internet_Uslug" binding="netTcpBinding" contract="Kursach_Uchet_Internet_Uslug.ITestService"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080" />
                      <add baseAddress="net.tcp://localhost:8081" />
                    </baseAddresses>
                </host>
            </service>
        </services>
      <behaviors>
        <serviceBehaviors>
          <behavior name="mexBehavior">
            <serviceMetadata httpGetEnabled="true"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>
